/* Style związane z całą stroną */
body {
  margin-top: 0px;
  background-image: url('../images/gray_background.png');
  font-family: cursive;
}
/*========KONIEC=====================*/

/* Ogólne style związane z elementem BODY */
#container {
  width: 95%;
  height: 1000px;
  background-color: rgba(43, 56, 68, 0.95);
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}
/* ==================KONIEC========================== */

/* Style związane z nagłówkiem strony */
#page-header {
  position: fixed; /*Niezmienna pozycja nagłówka strony*/
  top: 0px; /*Dosunięcię bezpośrednio do początku ekranu*/
  left: 0px; /*Dosunięcie bezpośrednio do lewej krawędzi ekranu*/
  height: 100px; /*Wysokość 100px*/
  width: 100%; /*Szerokość równa szerokości ekranu*/
  z-index: 99999; /*Element ma być zawsze na wierzchu stosu elementów*/
  background-color: rgba(94, 99, 102, 0.99);
}

#header-image {
  padding-left: 20px;
}

#style-menu {
  width: 150px;
  height: 40px;
  position: relative;
  top: -76px;
  right: -950px;

}

#lang-menu {
  width: 150px;
  height: 40px;
  position: relative;
  top: -116px;
  right: -1150px;
}

.header-button {
  height: 40px;
  width: 150px;
  background-color: rgb(174, 187, 193);
  font-size: 18px;
  color: white;
  font-family: cursive;
}

#style-content {
  width: 150px;
  background-color: white;
  position: absolute;
  top: 40px;
  display: none;
}

#lang-content {
  width: 150px;
  background-color: white;
  position: absolute;
  top: 40px;
  display: none;
}

#style-menu:hover .header-button {
  color: rgb(70, 69, 74);
}

#style-menu:hover #style-content {
  display: block;
  background-color: rgb(200, 198, 188);
  color: white;
}

#lang-menu:hover .header-button {
  color: rgb(70, 69, 74);
}

#lang-menu:hover #lang-content {
  display: block;
  background-color: rgb(200, 198, 188);
  color: white;
}

#style-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#style-menu li {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

#style-menu a {
  text-decoration: none;
  color: white;
}

#style-menu li:hover {
  background-color: rgb(89, 87, 87);
}


#lang-menu ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#lang-menu li {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

#lang-menu a {
  text-decoration: none;
  color: white;
}

#lang-menu li:hover {
  background-color: rgb(89, 87, 87);
}
/* =================KONIEC========================== */

/* Style związane z formularzem logowania */
#loginform-container {
  position: absolute;
  width: 50%;
  height: 610px;
  left: 25%;
  top: 200px;
  background-color: white;
  color: black;
}

#loginform-header {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  background-color: rgba(94, 99, 102, 0.99);
  border: 0px solid #000000;
  border-bottom-style: solid;
  border-bottom-width: medium;
}

#loginform-content {
  position: absolute;
  width: 100%;
  top: 71px;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

#loginform-content input {
  width: 65%;
  height: 30px;
  margin-top: 5px;
  font-size: 20px;
  padding-left: 5px;
  font-family: cursive;
}

#loginform-content p {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 3px;
  padding: 0px;
}

#loginform-content .loginform-error {
  width: 50%;
  margin-left: 29%;
  margin-top: 0px;
  padding-top: 0px;
  color: red;
  font-size: 15px;
  visibility: hidden;
}

#loginform-submit-button {
  background-color: rgba(94, 99, 102, 0.99);
  color: white;
  margin-left: 125px;
}
/* ==============KONIEC============================== */


/* Style związane z obsługą błędów formularza */

/* ===============KONIEC============================= */
.field-required-error {
  background-color: rgba(236, 114, 97, 0.79);
  border-color: red;
}

/* Style związane z górnym panelem */
#top-panel {
  height: 70px;
  width: 85%;
  float: right;
  background-color: rgba(94, 99, 102, 0.99);
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
  padding-bottom: 0px;
}

#top-panel ul {
  list-style: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#top-panel li {
  display: inline-block;
  width: 200px;
  height: 30px;
  background-color: rgba(43, 56, 68, 0.95);
  text-align: center;
  margin-right: 20px;
  line-height: 30px;
  border: 1px solid white;
}

#top-panel a {
  color: white;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
}

#top-panel li:hover a {
  color: rgb(176, 173, 160);
}

/* ================KONIEC========================== */

/* Style związane z lewym panelem */
#left-panel {
  position: absolute;
  height: 1000px;
  width: 15%;
  background-color: rgba(94, 99, 102, 0.99);
  border: 0px solid #000000;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: white;
  color: white;
}

#left-panel h2 {
  margin-top: 15px;
  text-align: center;
}

#left-panel ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

#left-panel a {
  color: white;
  text-decoration: none;
  font-size: 105%;
}

#left-panel a:hover {
  color: rgba(43, 56, 68, 0.95);
}

#left-panel li {
  height: 30px;
  text-align: center;
}

/* Style związane z elementem strony, w którym będą wyświetlane wyniki zapytań */
#main-content {
  float: none;
  width: 84%;
  float: right;
  height: 100%;
}

#structure-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-spacing: 0px;
  color: white;
}

#structure-table caption {
  font-size: 180%;
}

#structure-table, #structure-table th, #structure-table td {
  border-collapse: collapse;
}

#structure-table th, #structure-table td {
  border: 1px solid white;
  width: 130px;
  text-align: center;
}

.connection-error {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: white;
  border: 2px solid red;
}

.connection-error-header {
  background-color: blue;
  height: 40px;
  text-align: center;
  background-color: rgb(201, 88, 77);
  color: white;
}

.connection-error-header h2 {
  margin-top: 0px;
}

.connection-error-content {
  padding-left: 5px;
  padding-right: 5px;
}

#structure-table a {
  text-decoration: none;
  color: rgb(18, 196, 137);
}

#add-remove-button {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}

#add-remove-button-inner {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#add-button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 50px;
  font-size: 15px;
  font-family: cursive;
}

#remove-button {
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  font-family: cursive;
}

#create-table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  color: white;
}

#create-table caption {
  margin-bottom: 20px;
}

#create-table caption input {
  margin-left: 20px;
}

#submit-row input {
  font-size: 20px;
  font-family: cursive;

}

#create-table, #create-table th, #create-table td {
  border-collapse: collapse;
}

#create-table th, #create-table td {
  border: 1px solid white;
  width: 120px;
  text-align: center;
}

#structure-table-last-row a {
  margin-right: 40px;
}

#content-table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  color: white;
}

#content-table caption {
  margin-bottom: 20px;
  font-size: 140%;
}

#content-table th, #content-table td {
  border: 1px solid white;
  width: 120px;
  text-align: center;
}

#content-table, #content-table th, #content-table td {
  border-collapse: collapse;
}

#content-table-last-cell a {
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(18, 196, 137);
}

#modify-table-content-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 40%;
  background-color: rgba(94, 99, 102, 0.99);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#modify-table-content-header {
  font-size: 110%;
  border-bottom: 2px solid white;
  padding: 0px;
}

#modify-table-content-header p {
  padding: 0px;
  margin-bottom: 0px;
}

#modify-content-form p {
  padding: 0px;
  margin: 0px;
}

#modify-content-form input {
  border-style: none;
  width: 99%;
  margin-bottom: 5px;
}

/* Formularz SQL */
#execute-sql-form-div {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  color: white;
}

#execute-sql-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px rgb(255, 255, 255) solid;
  background-color: rgba(94, 99, 102, 0.99);
  padding-left: 10px;
}

#execute-sql-form p {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-file {
  margin-top: 10px;
  position: relative;
  left: 45%;
}

#result-div {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  color: white;
  text-align: center;
}

/*nowe*/
#result-table {
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#result-table, #result-table th, #result-table td {
  border-collapse: collapse;
}

#result-table th, #result-table td {
  border: 1px solid white;
  width: 100px;
  text-align: center;
}

/* Nawigacja */
#navigation {
  list-style: none;
}

#navigation li {
  display: inline-block;
  width: 20px;
  border: 1px solid white;
}

#navigation a {
  color: white;
  text-decoration: none;
}
