{% extends 'base_template.html' %}

{% block stylesheets %}
<link rel="stylesheet" href='css/style1.css'>
{% endblock %}

{% block content %}
<div id="loginform-container">
  <div id="loginform-header">
    <h2>ZALOGUJ  SIĘ</h2>
  </div>

  <div id="loginform-content">
    <input type="text" name="databaseName" placeholder="Nazwa bazy danych" />
    <input type="text" name="hostName" placeholder="Nazwa lub adres hosta" />
    <input type="text" name="port" placeholder="Numer portu (domyślnie: 3306)" />
    <input type="text" name="unixSocket" placeholder="Gniazdo Unix (domyślnie: /tmp/mysql.sock)" />
    <input type="text" name="charset" placeholder="Kodowanie (domyślnie: UTF-8)" />
  </div>
</div>
{% endblock %}
