{% extends 'base_template.html' %}

{% block stylesheets %}
<!--<link rel="stylesheet" href='css/style2.css'>-->
<link rel="stylesheet" href="{{ styleFile }}">
{% endblock %}

{% block content %}
<div id="loginform-container">
  <div id="loginform-header">
    <h2>{{ langArray['logformheader'] }}</h2>
  </div>

  <div id="loginform-content">
    <form id="loginform" name="loginform" action="management.php" method="POST" onsubmit="return validateForm()">
      <p>{{ langArray['username'] }}:</p>
      <input type="text" name="userName" onfocus="clearErrorMessage(event)">
      <p class="loginform-error">{{ langArray['emptyerror'] }}</p>
      <p>{{ langArray['password'] }}:</p>
      <input type="password" name="userPassword">
      <p class="loginform-error"></p>
      <p>{{ langArray['database'] }}:</p>
      <input type="text" name="databaseName" onfocus="clearErrorMessage(event)">
      <p class="loginform-error">{{ langArray['emptyerror'] }}</p>
      <p>{{ langArray['host'] }}:</p>
      <input type="text" name="hostName" value="localhost" onfocus="clearErrorMessage(event)">
      <p class="loginform-error"></p>
      <p>{{ langArray['port'] }}:</p>
      <input type="text" name="port" value="3306" onfocus="clearErrorMessage(event)">
      <p class="loginform-error">{{ langArray['formaterror'] }}</p>
      <p>{{ langArray['charset'] }}:</p>
      <input type="text" name="charset" value="utf8" onfocus="clearErrorMessage(event)">
      <p class="loginform-error"></p>
      <input type="submit" id="loginform-submit-button" value="{{langArray['loginbutton']}}">
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="js/loginform_handle.js"></script>
{% endblock %}
