{% extends 'base_template.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ styleFile }}">
{% endblock %}

{% block content %}
<div id="top-panel">
  <ul>
    <li><a href="createtableform.php" onclick="showCreateTableForm(event)">{{ langArray['newtable'] }}</a></li>
    <li><a href="#">{{ langArray['sql'] }}</a></li>
    <li><a href="#">{{ langArray['logout'] }}</a></li>
  </ul>
</div>

<div id="left-panel">
  <h2>{{ langArray['tablelist'] }}</h2>
  <ul id="table-list">
    {% if tableList is not empty %}
      {% for table in tableList %}
      <li><a href="#" onclick="showTableStructure(event)">{{ table }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>

<div id="main-content">
  {% if connectionError is defined %}
  <div class="connection-error">
    <div class="connection-error-header">
      <h2>{{ langArray['errorHeader'] }}</h2>
    </div>
    <div class="connection-error-content">
      <p>{{ connectionError }}</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="js/management.js"></script>
{% endblock %}
